.headerNav .footerNav {
  position: absolute;
}

.helloBody .helloContainer {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.terminal-prompt {
  background-color: #222225;
  color: #e8e9ed
}