.terminalPrompt, .output {
  border-radius: 25px;
  padding: 20px;
  background-color: #222225;
  position: relative;
}

.terminalPrompt{
  height: 90%;
}

.output {
  height: 45%;
}

.terminalPrompt::before {
  content: "> ";
}

.terminalPrompt::after {
  content: "";
  animation: cursor 800ms infinite;
  background: var(--primary-color);
  border-radius: 0;
  display: inline-block;
  height: 1em;
  margin-left: 0.2em;
  width: 3px;
  bottom: -2px;
  position: relative;
}

@-webkit-keyframes cursor {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes cursor {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}