.timeline {
  position: relative;
  overflow: auto;
}

.timeline:before {
  content: '';
  position: fixed;
  width: .25em;
  background: grey;
  left: 49.5%;
  top: 0;
  bottom: 0;
}

.timeline-item {
  background: grey;
  padding: 1%;
  margin-bottom: 1%;
  position: relative;
  width: 42%;
  left: 51.3%;
  border-top-left-radius: 0rem;
  /* opacity: 0; */
}

.timeline-item:first-child {
  margin-top: 1%;
}

.timeline-item:nth-child(even) {
  left: 7%;
  border-top-left-radius: .25rem;
  border-top-right-radius: 0rem;
}

.timeline-item:before {
  content: '';
  width: 0;
  height: 0;
  border-top: 1em solid grey;
  border-left: 1em solid transparent;
  position: absolute;
  left: -2.5%;
  top: 0;
}

.timeline-item:nth-child(even):before {
  left: initial;
  right: -2.5%;
  transform: scaleX(-1);
}